/* page content */
.page {
	.news1, .news {
		.date {
			color: $main;
		}
	}
	.page_nav {
		.active {
			color: $main;
		}
	}
    #ask-form {
        max-width: 350px;
    }
    .write {
        color: $main;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .back_link {
        margin: 25px 0;
    }
    p a {
        color: $main;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .h2 a {
        font-size: 16px;
        color: $main;
    }
	@media screen and (max-width: 1024px) {
		#photos-list td img {
			width: 100%;
			height: auto;
		}
	}
	@media screen and (max-width: 480px) {
		p img, p strong img, h2 img, h3 img, h4 img, h5 img, h6 img, p a img, strong img {
			width: 100%!important;
			height: auto!important;
			display: block!important;
			float: none!important;
			margin: 0 0 10px 0!important;		
		}
        #page-text p a img {
            width: auto!important;
            max-width: 100%!important;
        }
		#photos-list td {
			width: 50%;
			@include inline-block;
		}
	}
}
/* breadcrumbs */
.breadcrumbs {
	font-size: 14px;
	ul {
        @include ul-default;
        padding-bottom: 24px;
		li {
			padding: 5px 2px 5px 0;
			color: $main;
			@include inline-block;
			a {
                color: #666666;
                text-decoration: none;
                &:hover {color: #0f55c6}
			}
			&:after {
				content: '\2014';
				margin: 2px 5px 0px 11px;
				color: #282727;
				@include inline-block;
			}
			&:last-of-type:after {
				display: none;
			}
		}
	}
}
/* breadcrumbs */

/* modal */
.modal {
    display: none;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    .modal__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .modal__block {
        width: 750px;
        background-color: #fff;
        position: absolute;
        padding: 60px 120px;
        left: 0;
        right: 0;
        top: 50%;
        margin: 0 auto;
        transform: translateY(-50%);
        h4 {
            font-size: 36px;
            text-align: center;
            font-family: $semi;
            color: #333;
            padding: 0 10px;
            margin: 0;
        }
    }
    .close {
        width: 60px;
        height: 60px;
        background-color: #133469;
        border-radius: 50%;
        overflow: hidden; 
        top:19px;
        transform: translateX(50%);
        right: 0;
        &:after, &:before {
            background: #fff;
        }
    }
    form {
        display: block;
        margin-top: 25px;
        textarea, 
        input[type="text"], 
        input[type="email"], 
        input[type="search"], 
        input[type="password"] {
            width: 100%;
            min-height: 52px;
            background-color: #fff;
            border-radius: 0px;
            background-color: #fff;
            font-family: $regular;
            font-size: 16px;
            color: #414141;
            border: 1px solid rgba($color: #d1d1d1, $alpha: .4);
            padding: 20px 28px;
            margin-bottom: 20px;
            box-shadow: none;
            line-height: 1;
            &::placeholder {
                color: #999;
            }
            &:focus {outline: $main;}
        }
        textarea {resize: none; height: 110px;}
        .g-recaptcha {
            float: right;
        }
        .btn {
            margin: 15px auto 0;
        }
        .policy {
            padding-top: 0; text-align: center;
            font-size: 14px; line-height: 1.2;;
        }
    }
    @media screen and (max-width: 1200px) {
        .modal__block {
            h4 {
                font-size: 30px;
            }
        }
        form {
            textarea, 
            input[type="text"], 
            input[type="email"], 
            input[type="search"], 
            input[type="password"] {
                min-height: 50px;
                font-size: 16px;
                padding: 14px 15px;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        form {
            textarea, 
            input[type="text"], 
            input[type="email"], 
            input[type="search"], 
            input[type="password"] {
                min-height: 40px;
                font-size: 14px;
                padding: 10px 15px;
                margin-bottom: 15px;
            }
        }
    }
    @media(max-width: 1000px) {
        .modal__block {padding: 40px 60px}
    }
    @media screen and (max-width: 768px) {
        .modal__block {
            h4 {
                font-size: 20px;
            }
        }
    }
    @media screen and (max-width: 820px) {
        .modal__block {
            width: auto;
            left: 25px;
            right: 25px;
        }
        .close {
            width: 40px;
            height: 40px;
        }
    }
    @media screen and (max-width: 480px) {
        .modal__block {
            padding: 30px 20px;
        }
        
        form {
            margin-top: 15px;
            .policy {
                font-size: 12px; color: #999;
                a {color: $main; text-decoration: underline;}
            }
            .g-recaptcha {
                transform: scale(0.85);
                transform-origin: 100% 50%;
            }
        }
    }
}

.call--btn {
    position: fixed;
    bottom: 100px;
    right: 40px;
    display: table;
    background-color: #ffcc00;
    font-family: 'FontAwesome';
    border-radius: 100%;
    text-decoration: none!important;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 23px 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
    box-sizing: border-box;
    outline: none!important;
    z-index: 1;
    &:hover {
        animation-name: phone;
        animation-iteration-count: 1;
        animation-duration: 0.7s;
    }
    i {
        display: block;
        font-size: 35px;
        color: #fff;
    }
    &:after, &:before  {
        content: '';
        width: 90%;
        height: 90%;
        background-color: transparent;
        border: 1px solid #ffcc00;
        position: absolute;
        top: 5%;
        left: 5%;
        border-radius: 100%;
        animation-iteration-count: infinite;
        animation-duration: 1.2s;
        animation-name: ring;
        outline: none;  
    }
    &:after {
        animation-delay: 0.6s;
    }
    &:before {
        animation-delay: 0.8s;
        border: 1px solid #d9af04;
    }
    @media screen and (max-width: 1440px) {
        margin-right: 0;
        right: 35px;
        bottom: 75px;
    }
    @media screen and (max-width: 991px) {
        width: 50px;
        height: 50px;
        padding-top: 15px;
        right: 15px;
        bottom: 80px;
        i {
            font-size: 24px;
        }
    }
    @media screen and (max-width: 768px) {
        bottom: 50px;
    }
}

@keyframes ring {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.1;
    transform: scale(1.7);
  }
}
@keyframes phone {
  20% {
   transform: rotate(-30deg); 
  }

  80% {
    transform: rotate(390deg)
  }

  100% {
    transform: rotate(360deg);
  }
}

/* modal */

/* page content */